@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

body {
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    background-color: white;
    height: 300px;
    width: 730px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 5px #ebeaee;
}

.name {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    padding-top: 14px;
    color: rgb(78 77 93 / 69%);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0px 60px 0px;
}

.flex label {
    color: #000000bd;
    font-family: "Headland One", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: larger;
}

.flex input {
    width: 450px;
    font-family: "Headland One", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: larger;
    text-align: center;
    border: 1px solid #c9c9c999;
    border-radius: 5px;
}

.flex input:hover {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px #0000001f;
}

.submit input[type="submit"] {
    background-color: #007BFF;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 40px;
    cursor: pointer;
    font-family: "Headland One", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 21px;
    border-radius: 25px;
    border: 1px solid #3b3b3b3d;
    transition: background-color 300ms ease-out;
}

.submit input[type="submit"]:hover {
    background-color: #0056b3;
}

.list{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    padding-top: 14px;
    padding-left: 112px;
    color: rgb(43 42 59 / 69%);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    text-decoration: underline;    
}

.list span{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding-top: 14px;
    padding-left: 18px;
    color: rgb(43 42 59 / 69%);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    display: inline-block;
    text-decoration: none;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note>* {
    max-width: 1315px;
    font-family: "Mozilla Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin: 20px 55px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.bullet {
    font-size: 15px;
    line-height: 2.2;
}

.task-text{
    max-width: 1315px;
    white-space: normal;
    word-wrap: break-word;
}

.delete-btn{
    background-color: #e9eaf5;
    transition: background-color 200ms ease-out;
    border: 1px solid rgb(0 0 0 / 26%);
    cursor: pointer;
    display: none;
}

.delete-btn:hover{
    background-color: #fbd7d7;
}

.theme{
    display: block;
    margin-left: auto;
    margin-top: 8px;
    margin-right: 8px;
    padding: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-family: "Headland One", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    border-radius: 25px;
    background-color: black;
    color: white;
    transition: background-color 300ms ease-out;
}

.theme:hover{
    background-color: rgb(78, 75, 75);
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .container {
    background-color: black;
    color: white;
}

.dark-mode .name {
    color: white;
}

.dark-mode input{
    color: white;
    background-color: #1a1a1a;
    border-color: #444;
}

.dark-mode label {
    color: white;
}

.dark-mode .submit input[type="submit"] {
    background-color: #0056b3;
}

.dark-mode .submit input[type="submit"]:hover {
    background-color: #007BFF;
}

.dark-mode .list {
    color: white
}

.dark-mode .list span {
    color: white
}